blockquote{
	border-left-color: #0d47a1;
}

.table-of-contents a.active{
	border-left: 2px solid #0d47a1;
}

.table-of-contents a:hover{
	border-left: 1px solid #0d47a1;
}

p, blockquote{
	font-weight: 300;
}

p b{
	font-weight: normal;
}

pre
{
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

blockquote{
	margin-left: 3em;
	background-color: #e3f2fd;
	padding: 1em;
}